<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Search Invoice</title>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/js/script.js}"></script>
</head>
<body>
	<div th:replace="template :: header"></div>
	<div class="container">
		<div  th:replace="template :: navbar"></div>
		<div class="home-content-bar">
			<h1>Add Inventory</h1>
		</div>
	</div> 
</body>
</html>