<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Search Invoice</title>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/searchinvoice.js}"></script>
<script type="text/javascript">
$(document).ready(function(){
	var iBillNo = "[[${sell.billNo}]]";
	var isError = "[[${isError}]]";

	checkData(iBillNo, isError);
});
</script>
</head>
<body>
	<div th:replace="template :: header"></div>
	<div class="container">
		<div  th:replace="template :: navbar"></div>
		<div class="home-content-bar">
			<h1>Search Invoice</h1>
			<div class="container">
				<div class="col-75">
					<form th:action="@{SearchInvoice}" th:object="${sell}" method="GET">
						<label>Invoice No: </label>
						<input type="text" th:field="*{billNo}"/>
						<button type="submit">Submit</button>
					</form><p/>
				</div>
				<div class="col-25 justify-center">
					<h2>Cashier  : <span id="cashier">cashier</span></h2>
				</div>
			</div><br/>
			<div id="search-result">
			<div class="container">
				<div class="col-75">
					<h2>Bill No: <span th:text="${sell.billNo}">bill#</span></h2>
					<h3>Location : Vikasnagar, Station Road, Raigarh</h3>
					<span id="date-today">Date time</span></h3>
				</div>
				<div class="col-25 justify-center">
					<h2>Seller  : <span th:text="${sell.seller}">cashier</span></h2>
				</div>
			</div><br/>

			<table>
				<tr>
					<th>Sr</th><th>Product Code</th><th>Description</th>
					<th>Unit Price</th><th>Quantity</th><th>Total Price</th>
				</tr>
				<tr th:each = "(s : ${sell.sellDetails})">
					<td th:text = "${s.itemNo}">Item#	</td>
					<td th:text = "${s.productCode}">Product code</td>
					<td th:text = "${s.productDescr}">Description</td>
					<td th:text = "${s.unitPrice}">Unit Price</td>
					<td th:text = "${s.quantity}">Quantity</td>
					<td th:text = "${s.totalPrice}">Total Price</td>
				</tr>
			</table><br/>
			<!-- total box -->
			<div><b>Total bill: </b></div>
			<div id="totalBill" th:text = "${sell.totalBill}">0</div>
			<br/><br/>
		</div>
		<div id="errormsg">Please put the correct invoice number</div>
		</div>
	</div> 
</body>
</html>