<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DeRetail - New Billing</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/searchinvoice.js}"></script>
<script th:inline="javascript">
$(document).ready(function (){
    $('#sell-detail-div').hide();
    wsSellList = [[${sellList}]];
    enableSearchByBill();
})

</script>
</head>
<body>
<div class="wrapper">
	<!-- sidebar -->
	<div th:replace="template :: sidebar"></div>
<!-- content area -->
<div class="container-fluid contentbar">
	<!-- content top bar-->
	<div th:replace="template :: topnav"></div>
	<!-- content body -->
<div class="container-fluid">
<!-----------------------  start content from here ------------------>

<!-- search options -->
<div class="row mb-2"> 
	<div class="col p-2 bg-white shadow">
		<div class="col-12 text-success h5">Search Invoice</div>
		<form action="SearchInvoice" method="GET" th:object="${modelDTO}" onsubmit="validateSearch()">
		<div class="form-row">		
		<div class="col-sm-4 col-md-3 myform">
			<label class="form-label">Start Date: </label>
			<input type="date" class="form-control" th:field="*{startDate}" id="srchStartDate">
		</div>
		<div class="col-sm-4 col-md-3 myform">
			<label class="form-label">End Date: </label>
			<input type="date" class="form-control" th:field="*{endDate}" id="srchEndDate">
		</div>
		<div class="col-sm-4 col-md-3 myform">
			<label class="form-label">Bill#: </label>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input type="checkbox" id="srchBillCheckbox" th:field="*{billNoCheck}" onchange="enableSearchByBill()"> 
				  	</div>
				</div>
				<input type="number" class="form-control" value="0" id="srchBillNo" th:field="*{billNo}" disabled>
			</div>
		</div>
		<div class="col-sm-12 col-md-3 d-flex align-items-end mt-2">
			<button class="btn btn-primary btn-block" type="submit">Search</button>
		</div>
		</div>
		</form>
	</div>
</div>

<!-- search result -->

<div class="row" id="sell-header-div">
<div class="col bg-white shadow p-0">
	<div class="table-responsive">
		<table class="table table-hover" id="search-table">
			<tr class="table-light">
				<th>Date</th>
				<th>Invoice#</th>
				<th>Seller</th>
				<th>#Items</th>
				<th>Total Amount</th>
				<th></th>
			</tr>
			<tr th:each="sell: ${sellList}">
				<td th:text="${#strings.substring(sell.dateSold,0,10)}">27 Jan 2021</td>
				<td th:text="${sell.billNo}">1234</td>
				<td th:text="${sell.seller}">Sample Seller</td>
				<td th:text="${sell.totalItem}">4</td>
				<td th:text="${sell.totalBill}">123.45</td>
				<td class="text-center">
					<span class="btn fas fa-info text-info" data-toggle="tooltip" title="Details" th:onclick="'showSellDetails(' + ${sellStat.index} + ')'">
					</span>
					<span class="btn fas fa-edit text-primary" data-toggle="tooltip" title="Update" th:onclick="'itemEditSubmit('+${sell.billNo}+')'">	
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>
</div>


<div class="row" id="sell-detail-div">
<div class="col-md-12 bg-white shadow">
	<div class="col-12 text-right">
		<button class="btn close" onclick="showSellHeader()">&times;</button>
	</div>
	<h4 class="text-success">Bill No: <span id="dBillNo"></span></h4>
	<span id="dDate"> Date</span>
	<div class="table-responsive">
		<table class="table table-hover" id="search-detail-table">
			<tr class="table-light">
			<th>#</th>
			<th>Description</th>
			<th>Unit Price</th>
			<th>Qty</th>
			<th>Total Price</th>
			</tr>
			<tr>
				<td>1</td>
				<td>test bill</td>
				<td>11.11</td>
				<td>2</td>
				<td>22.22</td>
				</tr>
	
		</table>
	</div>
	<div class="col-md-6">
		<div class="col-12 border-bottom mb-2"></div>
		<h4 class="text-success">Total bill</h4>
		<div class="row">
			<div class="col-6">Total </div>
			<div class="col-1">Rs.</div>
			<div class="col-4 text-right" id="totalBill">0.00</div>
		</div>
		<div class="row">
			<div class="col-6">GST (NA)</div>
			<div class="col-1">Rs.</div>
			<div class="col-4 text-right" id="gst">0.00</div>
		</div>
		<div class="col-12 border-bottom mb-2"></div>
		<div class="row mb-3">
			<div class="col-6">Payable</div>
			<div class="col-1">Rs.</div>
			<div class="col-4 text-right" id="payable">0.00</div>
		</div>
	</div>
	<div class="text-center mb-2">
		<form action="NewBilling" method="GET" th:object="${modelDTO}" id="formEditItem">
			<input type="hidden" th:field="*{billNo}" id="ubillNo">
			<button class="btn btn-danger" type="submit">Update</button>
			<button class="btn btn-primary" type="button" onclick="printInvoice()">Print</button>
			<button class="btn btn-secondary" type="button" onclick="showSellHeader()">Close</button>
		</form>
	</div>
</div>
</div>

<!-----------------------  end content here ----------------------------->
</div> 
</div> <!-- end of content area-->
</div> <!-- end of wrapper -->
</body>
</html>