<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Template</title>
 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
</head>
<body>	
<div class="wrapper">
	<!-- sidebar -->
<div class="container-fluid sidebar" th:fragment="sidebar">
	<!-- sidebar top navigation -->
	<nav class="navbar fixed-top navbar-dark header-hr">
		<div class="navbar-brand fas fa-shopping-cart" id="brand-icon"></div>
		<div class="navbar-brand" id="sidebar-brand">DeRetail</div>
	</nav>

	<!-- sidebar menu -->
	<nav class="navbar navbar-dark position-sticky sidebar-fixed-nav">
	<ul class="nav navbar-nav navbar-dark" >
		<li class="nav-item"><a class="nav-link" th:href="@{/UserHome}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
		<li class="nav-item"><a class="nav-link" th:href="@{/Billing/NewBilling}"><i class="fas fa-file-invoice-dollar"></i><span>New Invoice</span></a></li>
		<li class="nav-item"><a class="nav-link" th:href="@{/Billing/SearchInvoice}"><i class="fas fa-search-dollar"></i><span>Search Inv</span></a></li>
		<li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fas fa-database"></i><span>Inventory</span></a>
            <ul class="dropdown-menu sidebar-dropdown" id="inventory-submenu">
                <li><a class="dropdown-item" th:href="@{/Inventory/AddProduct}">Add Product</a></li>
                <li><a class="dropdown-item" th:href="@{/Inventory/SearchProduct}">Search Product</a></li>
            </ul>
        </li>
		<li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fas fa-power-off"></i><span>Log out</span></a></li>
	</ul>
	</nav>
	<div class="sidebarHalfToggler" id="sidebarHalfTogglerDiv" onclick="toggleSidebarHalfToggler()"></div>
	<div class="fixed-bottom text-white ml-1">
		<span>DeRetail@2021</span>
	</div>
</div>  <!-- end of sidebar-->

<!-- content -->
<div class="container-fluid contentbar">
	<!-- content top bar-->
	<div th:fragment="topnav">
	<nav class="navbar fixed-top navbar-expand bg-white top-nav shadow">
		<div class="container-fluid">
			<button class="sidebar-toggle-top d-md-none btn" type="button" data-toggle="collapse" data-target="#" onclick="toggleSidebarTop()">
				<i class="fa fa-bars"></i>
			</button>
			<ul class="nav navbar-nav ml-auto">
				<li>
					<i class="fas fa-bell fa-fw"></i>
				</li>
				<li>
					<span class="topbar-divider"></span>
				</li>
				<li>
					<a href="#">
						<span class="d-none d-lg-inline">Admin</span>
						<span class="img-user"><i class="fas fa-user" style="font-size:30px"></i></span>
						<!-- <img class="rounded-circle img-user" src="/images/avatar1.jpeg"/> -->
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div style="height: 70px;"></div>
	</div>	<!--  end of topnav -->
	<!-- content body -->
		
</div> <!-- end of content area-->
</div> <!-- end of wrapper -->
</body>
</html>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DeRetail - New Billing</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/newbilling.js}"></script>
</head>
<body>
<div class="wrapper">
	<!-- sidebar -- >
	<div th:replace="template :: sidebar"></div>
<!-- content area -- >
<div class="container-fluid contentbar">
	<!-- content top bar-- >
	<div th:replace="template :: topnav"></div>
	<!-- content body -- >
<div class="container-fluid">
<!-----------------------  start content from here ------------------>
<!-----------------------  end content here ----------------------------- >
</div> 
</div> <!-- end of content area-- >
</div> <!-- end of wrapper -- >
</body>
</html>
 -->