<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DeRetail - New Billing</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/theme.js}"></script>
    <script th:src="@{/js/newbilling.js}"></script>
</head>
<body>
<div class="wrapper">
	<!-- sidebar -->
<div th:replace="template :: sidebar"></div>
<div class="container-fluid contentbar">
	<div th:replace="template :: topnav"></div>
<!-- content body -->
	<div style="height:90vh"></div>
</div>
</div>
</body>
</html>